body {
  background-color: white;
}

.calculator {
  position: relative;
  margin: 10px;
  display: inline-block;
  width: 500px;
  background-color: white;
  border-radius: 7px;
  border: 1px solid;
}

.calc-row {
  text-align: center;
  margin-bottom: 5px;
}


.calc-row div.screen {
  display: table;
  width: 95%;
  font-style: none;
  background-color: #f5f5f5;
  text-align: right;
  font-size: 2em;
  min-height: 2.6em;
  padding: 0.5em;
  margin-left: 0.4em;
  margin-top:0.5em;
  margin-bottom: 0.5em;
  border: 1px solid;
  border-radius: 4px;
}

.calc-row button {
  text-align: center;
  display: inline-block;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 7px 1px 5px 1px;
  border-radius: 8px;
  width: 108px;
  height: 54px;
  font-size: 1.5em;
}

.calc-row button.buttonc {
 background-color: #3c3c3c;
 color: white;
}

.calc-row button.buttonp {
 background-color: #0066cc;
 color: white;
}
